# General ignores
__pycache__/
*.directory
.cache/
\.idea/
/docs/_build/


# File ignores
/minoshiro/data/anime-titles.xml
/minoshiro/data/.anidb_time
/*.py
*.json
*.db
/roboragi_old/Config.py

# Unignore
!/roboragi/roboragi.py
!/roboragi/data/synonyms.db
!/tests/test_data/.travis_postgres.json
!/setup.py
!/example.py
