# General ignores
__pycache__/
*.directory
.cache/
\.idea/
/docs/_build/
/minoshiro.egg-info/
/dist/

# File ignores
/minoshiro/data/anime-titles.xml
/minoshiro/data/.anidb_time
/minoshiro/data/revision
/*.py
*.json
*.db

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unignore
!/tests/test_data/.travis_postgres.json
!/setup.py
!/example.py