# General ignores
__pycache__/
*.directory
.cache/
\.idea/
/docs/_build/


# File ignores
/minoshiro/data/anime-titles.xml
/minoshiro/data/.anidb_time
/minoshiro/data/revision
/minoshiro/data/synonyms.db
/*.py
*.json

# Unignore
!/tests/test_data/.travis_postgres.json
!/setup.py
!/example.py