#Bot Info - Register your bot here: https://discordapp.com/developers/applications/me
username='username'
token='token'

#Database Info
dbname='discordoragi'
dbuser='discordoragi'
dbpassword='password'
dbhost='localhost'

#Mal Info
maluseragent='' # A basic description of your program
malauth='' # Follow the instructions here: http://en.wikipedia.org/wiki/Basic_access_authentication

#Anilist Info - Create an account on AniList the go to the developer tab on your profile page
aniclient=''
anisecret=''